.App{
    width: 100%;
    height: 650px;
    background-color:rgb(204, 158, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    height: 650px;
    background-color:rgb(204, 158, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 400px;
    margin-right: 10px;
}
.header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px purple;
}
.input{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    justify-content: space-between;
}
.total{
    color:black;
    margin-top: 20px;
}